<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.travel.stage.cms.message.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.zzp.travel.stage.cms.message.domain.Message">
    <!--@mbg.generated-->
    <!--@Table traveldemo.t_cms_message-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ADD_USER_ID" jdbcType="VARCHAR" property="addUserId" />
    <result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
    <result column="DELETE_STATUS" jdbcType="INTEGER" property="deleteStatus" />
    <result column="MODIFY_USER_ID" jdbcType="VARCHAR" property="modifyUserId" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, ADD_USER_ID, ADD_TIME, DELETE_STATUS, MODIFY_USER_ID, MODIFY_TIME, USER_ID, USER_NAME, 
    `NAME`, TITLE, CONTENT, `STATE`
  </sql>
</mapper>